
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_StudentsLayout.cshtml";
}
<center><strong><h1 style="background-color:mediumspringgreen;">Student Panel </h1></strong></center>

<h2><p>Dear Student,</p></h2>
<strong><h3>Total You Have to Pay : @ViewBag.pay Taka</h3></h3></strong> 


