@model G2_UMA.Models.User

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<center><strong><h1 style="background-color:royalblue;">Admin Panel </h1></strong></center>
<strong><h2>Edit User Information</h2></strong> 


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="username" />
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pass" class="control-label"></label>
                <input asp-for="pass" class="form-control"/>
                <span asp-validation-for="pass" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>