@model User
@{
    ViewData["Title"] = "Login";
}


<br />
<br />
<br />
<center><strong><h1 style="background-color:royalblue;">Login Panel </h1></strong></center>



@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-controller="Logins" asp-action="AdminLogin">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="username" class="control-label">Username</label>
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="pass" class="control-label">Password</label>
                    <input asp-for="pass" class="form-control" />
                    <span asp-validation-for="pass" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="type" class="control-label">User Type</label>
                    <select asp-for="type" class="form-control">
                        <option value="">Select one</option>
                        <option value="Admin">Admin</option>
                        <option value="Accounts">Accounts Officer</option>
                        <option value="Student">Student</option>
                    </select>

                </div>

                <div>
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>

            </form>
        </div>
    </div>


}

@if (ViewBag.msg != null)
{
    <lebel>@ViewBag.msg</lebel>
}
