@{
    ViewData["Title"] = "Home Page";
}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container">
    <div class="container header_top">
        <div class="row">
           
            <div class="col-md-12">
                <br />
                <br />
                <br />
                <br />
               <div><center><h1>UMA Account Management</h1></center></div>
            </div>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/acc.jpg" alt="Los Angeles" style="width:100%;">
            </div>
        </div>
       
    </div>
</div>

